<div class="item-details-container" *ngIf="item">
  <div class="item-card">
    <img
      [src]="item.imageUrl"
      alt="{{ item.name }}"
      width="100%"
      height="180px"
    />

    <div class="item-info">
      <h2 class="item-name">{{ item.name }}</h2>
      <p class="item-description">{{ item.description }}</p>
      <p class="item-price">
        Price: <span>₹{{ item.price }}</span>
      </p>

      <button class="buy-button" (click)="buyItem(item.id)">Buy Now</button>
    </div>
  </div>
</div>
